body {
    background-image: url(assets/Pattern/interlaced/interlaced.png);
    width: 85.4em;
    height: 600px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

    @media screen and (max-width:640px){
        #bioImage {
            float: none;
            margin-top: 5px;
        }
    }